* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Magda;
	src: url(font.ttf);
}

a::-moz-selection {
	background-color: rgba(0, 0, 0, 0);
}

a::selection {
	background-color: rgba(0, 0, 0, 0);
}

a {
	cursor: default;
}

body, html {
	height: 100%;
}

#wrap {
	background-color: #eaeaea;
	box-shadow: inset 7vw 7vw 20vw  rgba(0, 0, 0, 0.2), inset -7vw -7vw 20vw rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	display: block;
}

#cont {
	text-align: center;
	padding-top: 40vh;
	transform: translateY(-20px);
}

#txt {
	font-size: 8vh;
	font-family: Magda;
/*	border-bottom: 3px solid black;*/
	color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	transition: color 0.5s, width 0.3s;
}

#txtwrap {
	display: block;
	transform: translateY(20px);
}

#line {
	background-color: black;
	width: 12vh;
	min-width: 12vh;
	height: 0.4vh;
	display: inline-block;
	border-radius: 50px;
	transition: width 0.2s;
}

#tri {
	margin-top: -10px;
	font-size: 10vh;
	color: red;
	animation-name: tri;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-moz-animation-name: tri;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-wekbkit-animation-name: tri;
	-wekbkit-animation-duration: 1.5s;
	-wekbkit-animation-iteration-count: infinite;
	-wekbkit-animation-timing-function: ease-in-out;
	-o-animation-name: tri;
	-o-animation-duration: 1.5s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;
	display: block;
}

@keyframes tri {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes tri {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes tri {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes tri {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}